h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
body,
section {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.first-nav-1 {
  display: none;
}

.main-nav {
  display: none;
}

#nav {
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: white;
  border: 1px solid rgb(228, 222, 222);
}

.background {
  width: 106px;
  height: 50px;
  background-color: black;
  padding: 18px 22px;
}

.mobile-logo {
  width: 66px;
  height: 16px;
  vertical-align: middle;
  text-align: left;
  margin-left: 0;
}

.mobile-list-item {
  display: none;
}

.mobile-icons {
  display: inline;
}

.search {
  padding: 15px;
  color: rgb(51, 51, 51);
  border-left: 1px solid rgb(228, 222, 222);
}

.bar {
  padding: 15px 20px;
  color: red;
  border-left: 1px solid rgb(228, 222, 222);
}

div.advert {
  height: 50px;
  background-color: yellow;
  border: 2px solid yellow;
}

p.connect {
  font-size: 0.85rem;
  margin: 15px auto;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.images {
  margin: auto;
  width: 95%;
  margin-top: 90px;
}

.image-section {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 200px;
    top: 5px;
    bottom: 5px;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(2, 0, 0));
    opacity: 0.5;
  }
}

.img-top {
  width: 100%;
  height: 200px;
  text-align: center;
  padding: 5px 0;
}

.img-top-text {
  width: 80%;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

p.img-caption {
  display: none;
}

.img-description-1 {
  display: none;
}

a.img-title {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.img-description {
  font-family: 'ARS Maquette', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.text-icon {
  margin: 0 5px;
}

.latest {
  width: 95%;
  margin: 0 auto;
  padding-left: 10px;
  font-size: 28px;
  font-weight: bolder;
  color: #f42;
}

.latest-img {
  width: 75px;
  height: 75px;
  padding: 10px 10px 10px 0;
}

.latest-section {
  margin: 0 auto;
  width: 95%;
}

.latest-flex {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.news {
  width: 90%;
  text-align: left;
  padding-top: 5px;
}

.news-title {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
}

.lastest-caption {
  color: #aaa;
}

.hr-latest {
  width: 1px;
  display: inline-block;
  margin: 3px;
}

.deals-left {
  text-decoration: none;
  display: block;
  color: #f42;
  font-size: 15px;
}

.investment-story {
  width: 90%;
  margin: 35px auto;
  position: relative;
}

.invest-top {
  border: 1px solid #f42;
  background-color: #f42;
  padding: 10.6666666667px 84px 10.6666666667px 16px;
  color: white;
  text-align: center;
}

.flutter {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.invest-text {
  background-color: #ff442214;
  padding: 10.6666666667px 120px 10.6666666667px 16px;
  line-height: 0.1;
  text-align: center;
}

.anchor-text {
  text-decoration: none;
  color: black;
}

.invest-icon {
  padding: 10px;
}

.hr-invest {
  border: 1px solid #f42;
}

.last-caption {
  color: rgb(29, 28, 28);
}

.img-caption-1 {
  display: block;
  color: #fff;
  font-size: 1.5rem;
}

.popular {
  margin: 0 auto 20rem auto;
  width: 90%;
}

.most-popular {
  position: relative;
}

.more-latest {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.popular-flex {
  background-color: #ff442214;
  height: 100px;
  margin-top: -10px;
}

.more-text {
  color: #f42;
  font-size: 1rem;
  font-weight: bolder;
  padding-left: 15px;
}

.latest-header {
  width: 30%;
  padding: 5px;
  color: #f42;
  font-weight: bolder;
  padding-left: 15px;
}

.latest-image {
  margin-top: -30px;
  width: 95px;
  height: 95px;
}

.deals-item {
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-right: 20px;
  padding-left: unset;
}

.deals-list {
  width: 90%;
  margin: 0 auto;
  padding-left: 0;
}

.deals-item li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1rem; /* Also needed for space (tweak if needed) */
}

.deals-hr {
  border-bottom: 1px solid #555;
  width: 100%;
  padding-left: 0;
  margin: 15px 0;
}

.popular-head {
  color: #f42;
  font-size: 2rem;
  font-weight: bolder;
}

.deals-section {
  width: 100%;
  margin: 0 auto;
}

.see-deals {
  color: #f42;
}

.all-deals {
  margin-left: 40px;
}

.deals-line {
  width: 90%;
  margin: auto;
}

.banner {
  display: none;
}

.caption-underline {
  text-decoration: line-through;
  color: #aaa;
}

.span-life {
  display: block;
  padding-top: 5px;
}

.lastest-caption-2 {
  color: black;
  text-decoration: none;
}

.deals-title {
  margin: 0 auto;
  width: 92%;
  font-size: 0.9rem;
  line-height: 1.2;
  font-weight: bolder;
  color: black;
  text-align: start;
}

.footer {
  background-color: #555;
  width: 100%;
  height: 70%;
  padding-left: unset;
}

.footer-icons {
  list-style: none;
  display: flex;
  align-content: center;
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
  padding-left: 0;
}

.social-icons {
  background-color: #aaa;
  font-size: 1rem;
  background-size: 200px 300px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin: 30px 0;
  text-align: center;
  padding: 12px 6px 0 6px;
}

.footer-text {
  display: flex;
  color: #aaa;
  list-style: none;
  font-size: 0.6rem;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-right: 30px;
}

.eve {
  font-size: 0.8rem;
  padding-right: 5px;
}

.bottom-footer {
  background-color: black;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  position: relative;
  padding-top: 40px;
}

.juju-1 {
  color: #aaa;
  font-size: 0.8rem;
  text-align: left;
  margin: 0 auto;
  width: 50%;
  padding-left: 40px;
}

.juju-2 {
  color: #aaa;
  font-size: 0.8rem;
  text-align: left;
  margin: 0 auto;
  width: 50%;
  padding-left: 40px;
}

.juju {
  color: #aaa;
  font-size: 0.8rem;
  text-align: left;
  margin: 0 auto;
  width: 50%;
}

.logo-stack {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 130px;
  bottom: 37px;
}

.logo-tnw {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 65px;
  top: 28px;
}

.message {
  margin: 0 auto;
  width: 12%;
  margin-top: -60px;
}

@media (min-width: 768px) {
  .first-nav-1 {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #000000;
  }

  ul.left-nav {
    width: 65%;
    margin-left: 50px;
  }

  .first-nav {
    display: inline;
  }
  .header-links {
    color: #555;
    margin: 5px;
  }

  ul.right-nav {
    width: 35%;
    padding-left: 0;
  }

  .main-nav {
    display: block;
  }

  .nav-item {
    display: inline;
    color: #aaa;
  }

  .mobile-logo {
    position: absolute;
    left: 0;
    top: 0;
    margin: 50px 10px;
  }

  .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 55px;
  }

  .main-nav {
    margin-left: 80px;
  }

  .nav-item {
    margin-right: 15px;
  }

  .bar-icon {
    display: none;
  }
  .advert {
    position: relative;
  }
  p.connect {
    text-align: left;
    padding-left: 100px;
  }
 
  .images {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0 auto;
  }
  
  .image-section:nth-child(1) {
    position: absolute;
    width: 66%;
    left: 10px;
    top: 0;
    margin-top: 70px;
    img {
      height: 400px;
    }
    &::after {
      height: 400px;
    }
  }

  .image-section:nth-child(2) {
    position: absolute;
    right: 10px;
    top: 0;
    width: 30%;
    margin-top: 60px;
  }

  .image-section:nth-child(3) {
    position: absolute;
    right: 10px;
    top: 0;
    margin-top: 270px;
    width: 30%;
  }

  .latest-sec {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
  }
  
  .latest {
    padding: 0;
    margin: 0;
  }

  .latest-section { 
    width: 33%;
    margin: 0;
  }

  .latest-flex {
    display: block;
  }

  .news {
    padding: 0;
    display: block;
    text-align: left;
    width: 80%;
  }

  .latest-img {
    width: 200px;
    height: 110px;
  }

  .deals {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
  }

  .deals-title {
    width: 95%;
    margin: 0;
    padding: 0;
  }

  .investment-story {
    width: 31%;
    margin-right: 15px;
  }
  
  .invest-top,
  .invest-text {
    text-align: end;
  }

  .investment-story:nth-last-of-type(4) {
    display: none;
  }

  .popula {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }

  .popular {
    width: 48%;
    margin-left: 0;
    margin-right: 0;
  }

  .deals-line {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
  }

  .latest-flex {
    width: 33%;
    position: relative;
  }

  .news {
    width: 200px;
  }

  .see-deals {
    position: absolute;
    margin-top: -30px;
    width: 100%;
  }
  .all-deals{
    margin-left: 400px;
    text-align: end;
  }

  .banner {
    display: none;
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .banner-text {
    transform: rotate(30deg);
  }

}