h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
body,
section {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.first-nav-1 {
  display: none;
}

#nav {
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  color: white;
  border: 1px solid #e4dede;
}

.background {
  width: 106px;
  height: 50px;
  background-color: black;
  padding: 18px 22px;
}

.mobile-logo {
  width: 66px;
  height: 16px;
  vertical-align: middle;
  text-align: left;
  margin-left: 0;
}

.mobile-list-item {
  display: none;
}

.mobile-icons {
  display: inline;
}

.search {
  padding: 15px;
  color: #333333;
  border-left: 1px solid #e4dede;
}

.bar {
  padding: 15px 20px;
  color: red;
  border-left: 1px solid #e4dede;
}

div.advert {
  height: 50px;
  background-color: yellow;
  border: 2px solid yellow;
}

p.connect {
  font-size: .85rem;
  margin: 15px auto;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.images {
  margin: auto;
  width: 95%;
  margin-top: 90px;
}

.image-section {
  position: relative;
}

.image-section::after {
  content: '';
  position: absolute;
  height: 200px;
  top: 5px;
  bottom: 5px;
  left: 0;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(black), to(#020000));
  background-image: linear-gradient(to bottom right, black, #020000);
  opacity: .5;
}

.img-top {
  width: 100%;
  height: 200px;
  text-align: center;
  padding: 5px 0;
}

.img-top-text {
  width: 80%;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

p.img-caption {
  display: none;
}

.img-description-1 {
  display: none;
}

a.img-title {
  font-family: 'tahoma', 'sans-serif';
  font-size: 20px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}

.img-description {
  font-family: 'ARS Maquette', 'Helvetica Neue', 'Arial', 'sans-serif';
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.text-icon {
  margin: 0 5px;
}

.latest {
  width: 95%;
  margin: 0 auto;
  padding-left: 10px;
  font-size: 28px;
  font-weight: bolder;
  font-family: 'Avalon';
  color: #ff4422;
}

.latest-img {
  width: 75px;
  height: 75px;
  padding: 10px 10px 10px 0;
}

.latest-section {
  margin: 0 auto;
  width: 95%;
}

.latest-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.news {
  width: 90%;
  text-align: left;
  padding-top: 5px;
}

.news-title {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
}

.lastest-caption {
  color: #aaa;
}

.hr-latest {
  width: 1px;
  display: inline-block;
  vertical-align: middle;
}

.deals-left {
  text-decoration: none;
  display: block;
  color: #ff4422;
}

.deals-title {
  margin: 0 auto;
  width: 92%;
}

.investment-story {
  width: 90%;
  margin: 35px auto;
  position: relative;
}

.invest-top {
  border: 1px solid #ff4422;
  background-color: #ff4422;
  padding: 10.6666666667px 84px 10.6666666667px 16px;
  color: white;
  text-align: center;
}

.flutter {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.invest-text {
  background-color: #ff442214;
  padding: 10.6666666667px 120px 10.6666666667px 16px;
  line-height: .1;
  text-align: center;
}

.anchor-text {
  text-decoration: none;
  color: black;
}

.invest-icon {
  padding: 10px;
}

.hr-invest {
  border: 1px solid #ff4422;
}

.last-caption {
  color: #1d1c1c;
}

.img-caption-1 {
  display: block;
  color: #ffffff;
  font-size: 1.5rem;
}

.popular {
  margin: 0 auto 20rem auto;
  width: 90%;
}

.most-popular {
  position: relative;
}

.more-latest {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular-flex {
  background-color: #ff442214;
  height: 100px;
  margin-top: -10px;
}

.more-text {
  color: #ff4422;
  font-size: 1rem;
  font-weight: bolder;
  padding-left: 15px;
}

.latest-header {
  width: 30%;
  padding: 5px;
  color: #ff4422;
  font-weight: bolder;
  padding-left: 15px;
}

.latest-image {
  margin-top: -30px;
  width: 95px;
  height: 95px;
}

.deals-item {
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-right: 20px;
  padding-left: unset;
}

.deals-list {
  width: 90%;
  margin: 0 auto;
  padding-left: 0;
}

.deals-item li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1rem;
  /* Also needed for space (tweak if needed) */
}

.deals-hr {
  width: 100%;
  padding-left: 0;
  margin: 10px 0;
}

.popular-head {
  color: #ff4422;
  font-size: 2rem;
  font: bolder;
}

.deals-section {
  width: 100%;
  margin: 0 auto;
}

.see-deals {
  color: #ff4422;
}

.all-deals {
  margin-left: 40px;
}

.deals-line {
  width: 90%;
  margin: auto;
}

.caption-underline {
  text-decoration: line-through;
  color: #aaa;
}

.span-life {
  display: block;
  padding-top: 5px;
}

.lastest-caption-2 {
  color: black;
  text-decoration: none;
}

.deals-title {
  font-weight: .3rem;
  line-height: 1.2;
  font-weight: bolder;
  color: black;
  text-align: start;
}

.footer {
  background-color: #555555;
  width: 100%;
  height: 70%;
  padding-left: unset;
}

.footer-icons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  margin: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 0;
}

.social-icons {
  background-color: #aaa;
  font-size: 1rem;
  background-size: 200px 300px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin: 30px 0;
  text-align: center;
  padding: 12px 6px 0 6px;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #aaa;
  list-style: none;
  font-size: .6rem;
  width: 50%;
}

.eve {
  font-size: 1rem;
  padding-right: 10px;
}

.bottom-footer {
  background-color: black;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  position: relative;
  padding-top: 40px;
}

.juju-1 {
  color: #aaa;
  font-size: .8rem;
  text-align: left;
  margin: 0 auto;
  width: 50%;
  padding-left: 40px;
}

.juju-2 {
  color: #aaa;
  font-size: .8rem;
  text-align: left;
  margin: 0 auto;
  width: 50%;
  padding-left: 40px;
}

.juju {
  color: #aaa;
  font-size: .8rem;
  text-align: left;
  margin: 0 auto;
  width: 50%;
}

.logo-stack {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 130px;
  bottom: 37px;
}

.logo-tnw {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50px;
  top: 20px;
}

.message {
  margin: 0 auto;
  width: 12%;
  margin-top: -60px;
}
/*# sourceMappingURL=style.css.map */