h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
body,
section {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.first-nav-1 {
  display: none;
}
#nav {
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
}
.mobile-nav {
  display: flex;
  justify-content:  space-between;
  align-items: center;
  height: 50px;
  color: white;
  border: 1px solid rgb(228, 222, 222);
}

.background {
  width: 106px;
  height: 50px;
  background-color: black;
  padding: 18px 22px;
}

.mobile-logo {
  width: 66px;
  height: 16px;
  vertical-align: middle;
  text-align: left;
  margin-left: 0;
}

.mobile-list-item {
  display: none;
}

.mobile-icons {
  display: inline;
}

.search {
  padding: 15px;
  color: rgb(51, 51, 51);
  border-left: 1px solid rgb(228, 222, 222);
}

.bar { 
  padding: 15px 20px;
  color: red;
  border-left: 1px solid rgb(228, 222, 222);
}

div.advert {
  height: 50px;
  background-color: yellow;
  border: 2px solid yellow;
}

p.connect {
  font-size: .85rem;
  margin: 15px auto;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.images {
  margin: auto;
  width: 95%;
  margin-top: 50px;
}
.image-section {
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 184px;
    background-image: linear-gradient(to bottom, rgb(),rgb());
    opacity: ;
  }
}

.img-top {
  width: 100%;
  height: 184px;
  text-align: center;
}

.img-top-text {
  width: 80%;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

p.img-caption {
  display: none;
}
.img-description-1 {
  display: none;
}
a.img-title {
  font-family: 'tahoma', 'sans-serif';
  font-size: 20px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.img-description {
  font-family: 'ARS Maquette', 'Helvetica Neue', 'Arial', 'sans-serif';
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.text-icon {
  margin: 0 5px;
}

.latest {
  width: 85%;
  margin: auto;
  font-size: 28px;
  font-weight: bolder;
  font-family: 'Avalon', 'sans-serif';
  color: #ff4422;
}

.latest-img {
  width: 75px;
  height: 75px;
  padding: 10px;
}

.latest-section {
  margin: auto;
  width: 90%;
}

.latest-flex {
  width: 100%;
  display: flex;
  align-items: center;
}

.news {
  width: 60%;
  text-align: left;
}

.news-title {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
}

.lastest-caption {
  color: #aaa;
}

.hr-latest {
  width: 1px;
  display: inline-block;
  vertical-align: middle;
}

.deals-left {
  text-decoration: none;
  display: block;
  color: #ff4422;
}
.deals-title {
  margin: auto;
  width: 85%;
}

.investment-story {
  width: 85%;
  margin: 35px auto;
  position: relative;
}

.invest-top {
  border: 1px solid #ff4422;
  background-color: #ff4422;
  padding: 10.6666666667px 84px 10.6666666667px 16px;
  color: white;
  text-align: center;
}

.flutter {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.invest-text {
  background-color: #ff442214;
  padding: 10.6666666667px 120px 10.6666666667px 16px;
  line-height: .1;
  text-align: center;
}

.anchor-text {
  text-decoration: none;
  color: black;
}

.invest-icon {
  padding: 10px;
}

.hr-invest {
  border: 1px solid #ff4422;
}

.last-caption {
  color: rgb(29, 28, 28);
}

.img-caption-1 {
  display: block;
  color: #ffffff;
  font-size: 1.5rem;
}

.popular  {
  margin: 0 auto 20rem auto ;
  width: 90%;
}

.most-popular {
  position: relative;
}

.more-latest {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.popular-flex {
  background-color: #ff442214;
  height: 100px;
}
.more-text {
  color: #ff4422;
  font-size: 1rem;
  font-weight: bolder;
  padding-left: 15px;
}

.latest-header {
  width: 30%;
  padding: 5px;
  color: #ff4422;
  font-weight: bolder;
  padding-left: 15px;
}

.latest-image {
  margin-top: -30px;
  width: 95px;
  height: 95px;
}

.deals-item {
  width: 80%;
  margin: auto 0;
  font-size: 1rem;
  list-style: none;
}

.deals-item li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.deals-hr {
  width: 90%;
  padding-left: 0;
  margin: 10px 0;
}

.popular-head {
  color: #ff4422;
  font-size: 2rem;
  font: bolder;
}

.see-deals {
  color: #ff4422;
}

.all-deals {
  margin-left: 30px;
}

.deals-line {
  width: 90%;
  margin: auto;
}

.caption-underline {
  text-decoration: line-through;
  color: #aaa;
}

.lastest-caption-2 {
  color: black;
}

.deals-title {
  font-weight: 1rem;
  font-weight: bolder;
  color: black;
  text-align: start;
}

.footer {
  background-color: #555555;
  width: 100%;
  height: 70%;
  padding-left: unset;
}

.footer-icons {
  list-style: none;
  display: flex;
  align-content: center;
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
  padding-left: 0;
}

.social-icons {
  background-color: #aaa;
  font-size: 1rem;
  background-size: 200px 300px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin: 30px 0;
  text-align: center;
  padding: 12px 6px 0 6px;
}

.footer-text {
  display: flex;
  color:#aaa;
  list-style: none;
  font-size: .6rem;
  margin-left: 30px;
}

.eve {
  padding: 5px;
}
.bottom-footer {
  background-color: black;
  margin: auto 0;
  width: 100%;
  height: 100px;
  position: relative;
  padding: 30px 0 5px;
  text-align: center,
}

.juju {
  color: #aaa;
  font-size: .8rem;
  text-align: center;
}

.last-logo-1 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 45px;
  margin-top: -12px;
}


.last-logo {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 85px;
  top: 38px;
}
