h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section {
  margin: 0;
  padding: 0;
}
body,
html {
  overflow-x: hidden;
}

.mobile-nav {
  display: flex;
  justify-content:  space-between;
  align-items: center;
  height: 50px;
  color: white;
}

.background {
  width: 106px;
  height: 48px;
  background-color: black;
  padding: 16px 20px;
}

.mobile-logo {
  width: 66px;
  height: 16px;
  vertical-align: middle;
  text-align: left;
  margin-left: 0;
}

.mobile-icons {
  display: inline;
}

.search {
  padding: 15px;
  color: gray;
  border-left: 1px solid gray;
}

.bar { 
  padding: 15px 20px;
  color: red;
  border-left: 1px solid gray;
}

div.advert {
  height: 30px;

  background-color: yellow;
  border: 2px solid yellow;
}

.connect {
  vertical-align: baseline;
}

a.advert-text {
  text-decoration: none;
  font-size: .7rem;
  color: black;
}

.img-top {
  background-image: url("/assets/images/1-copy-4-258x135.jpg");
  background-repeat: no-repeat;
  background-size: 344px 184px;
  height: 184px;
  width: 344px;
  background-position: center;
}

