h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
body,
section {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}


.first-nav {
  display: none;
}

.mobile-nav {
  display: flex;
  justify-content:  space-between;
  align-items: center;
  height: 50px;
  color: white;
  border: 1px solid rgb(228, 222, 222);
}

.background {
  width: 106px;
  height: 50px;
  background-color: black;
  padding: 18px 22px;
}

.mobile-logo {
  width: 66px;
  height: 16px;
  vertical-align: middle;
  text-align: left;
  margin-left: 0;
}

.mobile-list-item {
  display: none;
}

.mobile-icons {
  display: inline;
}

.search {
  padding: 15px;
  color: rgb(51, 51, 51);
  border-left: 1px solid rgb(228, 222, 222);
}

.bar { 
  padding: 15px 20px;
  color: red;
  border-left: 1px solid rgb(228, 222, 222);
}

div.advert {
  height: 50px;
  background-color: yellow;
  border: 2px solid yellow;
}

p.connect {
  font-size: 1rem;
  margin: 15px auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.images {
  margin: auto;
  width: 95%;
  margin-bottom: 50px;
}
.image-section {
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(22, 22, 22),rgb(29, 28, 28));
    opacity: .5;
  }
}

.img-top {
  width: 100%;
  margin: auto 0;
  text-align: center;
}

.img-top-text {
  width: 80%;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

p.img-caption {
  display: none;
}
.img-description-1 {
  display: none;
}
a.img-title {
  font-family: 'tahoma', 'sans-serif';
  font-size: 20px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.img-description {
  font-family: 'ARS Maquette', 'Helvetica Neue', 'Arial', 'sans-serif';
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.text-icon {
  margin: 0 5px;
}

.latest {
  font: 2rem;
  color: #ff4422;
}

.latest-img {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.latest-section {
  margin: 200px auto;
  width: 90%;
  background-color: red;
}

.latest-flex {
  width: 100%;
  display: flex;
  align-items: center;
}

.news-title {
  width: 60%;
  text-align: left;
}

.hr-latest {
  width: 1px;
  display: inline-block;
  vertical-align: middle;
}